.my-data-detail{
    padding-top: 10px;
    padding-bottom: 10px;

}

.bold{
    font-weight: bold !important;
}

.col-off{
    padding-left: 30px;
}

.form-input-khusus{
    padding: 0px !important;
    border-color: #d2d6de00 !important;
}
